#groupholder-0 { display: none; }


#directory-list-nav { background-color: rgba(0,0,0,0.25); padding: 10px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }

.ln-letters { display: block; font-size:10px; font-weight: bold; clear: both; font-family: Helvetica, Arial, sans-serif; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
.ln-letters a { display: block; float: left; text-decoration: none; line-height: 23px; width: 23px; margin-right: 1px; text-align: center; text-shadow: 1px 1px 2px #141414; background-color: rgba(255,255,255,.125); color: rgba(255,255,255,0.75);  }
.ln-letters a:hover { background-color: rgba(255,255,255,0.25); }
.ln-letters a.all { width: 50px; -moz-border-radius: 3px 0 0 3px; -webkit-border-top-left-radius: 3px; -webkit-border-bottom-left-radius: 3px; }
.ln-letters a.ln-last { -moz-border-radius: 0 3px 3px 0; -webkit-border-top-right-radius: 3px; -webkit-border-bottom-right-radius: 3px; }
.ln-letters a.ln-disabled { font-weight: normal; color: rgba(255,255,255,0.25); }
.ln-letters a.ln-selected { background-color: rgba(255,255,255,0.75); color: rgba(0,0,0,0.75); text-shadow: none; }

.ln-letter-count { float: right; font-size: 14px; line-height: 23px; text-align: right; color: rgba(255,255,255,0.5); text-shadow: 1px 1px 2px #141414; }

.pointer { display: block; width: 1px; margin-left: 45px; height: 10px; border-style: solid; border-width: 15px 15px 0px; border-color: rgba(0,0,0,0.25) transparent transparent; }

#list-holder { background-color: rgba(0,0,0,0.25); margin: 5px 0; padding: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }

#scroll-list { height: 310px; }

#directory-list li { line-height: 24px; margin-bottom: 2px; color: rgba(255,255,255,0.75); background-color: rgba(255,255,255,0.075); -moz-border-radius: 3px; -webkit-border-radius: 3px; }
#directory-list li .drag { background-position: 50% 0; }
#directory-list li:hover .drag { background-position: 50% -504px; }
li.ui-draggable-dragging { z-index: 1000; list-style-type: none; padding: 0 5px 0 0; line-height: 24px; color: rgba(0,0,0,0.75); background-color: rgba(241,215,127,0.875); -moz-border-radius: 3px; -webkit-border-radius: 3px; }
li.ui-draggable-dragging a.drag { display: none; }
li.ui-draggable-dragging a { font-weight: bold; color: rgba(0,0,0,0.75); text-shadow: none; padding: 0 10px 0 24px; }

#directory-names { float: left; width: 435px; }
#directory-names .add { float: right; margin: 5px 5px 0 0; }
#directory-groups { float: right; width: 225px; }

.group { background-color: rgba(0,0,0,0.25); margin: 5px 0; padding: 0 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
.group ul { margin: 0; padding-bottom: 3px; }
.group ul li { line-height: 24px; margin: 2px 0; color: rgba(255,255,255,0.75); background-color: #282828; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
.group ul li .remove { float: right; background-position: 0 0; }
.group ul li .drag { width: 0px; background-position: 0 -504px; }
.group ul li:hover .remove { background-position: 50% -432px; }
.group ul.sorting li .remove { visibility: hidden; }
.group .listed { float: left; margin-left: 5px; }
.group .delete { float: right; margin-bottom: 5px; }

.group ul li.empty { padding-left: 5px !important; }



#add-group-area { background-color: rgba(0,0,0,0.25); margin: 5px 0; padding: 0; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
#add-group .add-fld { width: 170px; margin: 10px 0 10px 10px; }
#add-group .add-btn { float: right; width: 24px; height: 24px; margin: 10px 10px 0 0; padding: 0; border: none; text-indent: -9999px;  background: transparent url(../../../admin/img/btn-manage.png) no-repeat 50% -360px; }
#add-group .add-btn:hover { background-position: 50% -384px !important; }

/* modal */

.modal form { margin-bottom: 10px; }
.modal ul { height: 120px; overflow: auto; border: 1px solid #333; margin-bottom: 10px; }
.modal li { float: left; width: 100%; line-height: 24px; }
.modal li:hover { background-color: #333; }
.modal span.name { float: left; display: block; padding-left: 5px; }
.modal a.delete { float: right; margin-right: 5px; }


.menu-target { background-color: #454134; }

/* .drag { outline: 1px solid red; } */